<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>
<% if(page.comments && theme.utterances.enabled){ %>
    <div class="blog-post-comments">
        <div id="utterances_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>


<% if (page.comments && config.beblob.enabled) { %>
    <div class="blog-post-comments">
      <!-- BeBlob placeholder container -->
      <div id="beblob_thread">
        <noscript>Please enable JavaScript to view comments.</noscript>
      </div>
      <!-- BeBlob script -->
      <% if (config.beblob.dev_mode) { %>
        <script id="beblob-script" src="/js/beblob.js"
                data-client-id="<%= config.beblob.client_id %>"
                data-redirect-uri="<%= config.beblob.redirect_uri %>"
                data-project-name="<%= config.beblob.project_name %>"
                data-issue-mapping-strategy="<%= config.beblob.issue_mapping_strategy %>"
                data-dev-mode="true"
                data-beblob-version="<%= config.beblob.version %>"
                data-theme="<%= config.beblob.theme %>"
                defer>
        </script>
      <% } else { %>
        <script id="beblob-script" src="https://unpkg.com/beblob@<%= config.beblob.version %>/dist/beblob.js"
                data-client-id="<%= config.beblob.client_id %>"
                data-redirect-uri="<%= config.beblob.redirect_uri %>"
                data-project-name="<%= config.beblob.project_name %>"
                data-issue-mapping-strategy="<%= config.beblob.issue_mapping_strategy %>"
                data-dev-mode="false"
                data-beblob-version="<%= config.beblob.version %>"
                data-theme="<%= config.beblob.theme %>"
                defer>
        </script>
      <% } %>
    </div>
  <% } %>
  